
.category{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 248px);
    gap: 10px;
    grid-template-areas: 
        "a a g c"
        "f b g h"
    ;
}
.category-item{
    border-radius: 7px;
}
.category-item:nth-child(1){
    background-color: #5C4F8C;
    grid-area: a;
}
.category-item:nth-child(2){
    background-color: #797C7D;
    grid-area: b;
}
.category-item:nth-child(3){
    background-color: #A1D7F3;
    grid-area: c;
}
.category-item:nth-child(4){
    background-color: #B0B0B0;
    grid-area: f;
}
.category-item:nth-child(5){
    grid-area: g;
    background-color: #CEAF75;
}
.category-item:nth-child(6){
    grid-area: h;
    background-color: #D9D9D9;
}

@media (max-width:945px){
    .category{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 148px);
        grid-template-areas: 
            "a a a"
            "c b g"
            "f h g"
        ;
    }
    .category-item > img{
        width: 200px !important;
        height: 130px !important;
        object-fit: contain;
        
    }
}